 .bmiform{
    flex-direction: column;
    display: flex;
    padding: 9px;
    gap: 25px;
    margin: 40px 25px 20px 20px; 
}

.Calculator{  
    border: 2px solid black;
    text-align: center;
    width: 200px;
    padding: 20px;    
    margin: 16px auto;
    padding-left: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 15px 20px burlywood;
    display: flex;
}
   
button:hover{
    cursor: pointer;
}

button{
    padding: auto;
}